body {
    margin: 0px;
}



.gameContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.phone {
    height: 100%;
    min-width: 20%;
    cursor: pointer;
    display: flex;
    align-self: center;
    align-items: center;
    font-size: 10px;
    color: transparent;
    /* Döljer texten som standard */
    transition: transform 0.2s;
    border: 2px solid black;
    border-radius: 30px;
    justify-content: center;
}

/* 📱 Mobilanpassning */
@media (max-width: 600px) {
    .gameContainer {
        width: 12vw;
        height: 12vw;
        font-size: 16px;
    }

    * {
        box-sizing: border-box;
    }

    /* input,
    button {
        width: 100%;
        max-width: 300px;

    } */
}

.gamingArea {
    width: 80%;
    height: 40%;
    border: 2px solid red;
    background-color: rgb(138, 120, 120);
    justify-content: center;
}

.rebusImage {
    width: 50px;
    height: 50px;
}

.inputBox {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
}